body{
    margin: 15px;
    background: #222;
    width: auto;
    height: auto;
}

#logo {
  position: absolute;
  width: 200px;
  top: 40px;
  left: 60px;
}

header {
  height: 366px;
  background-image: url("../img/main-page/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 33px;
  padding: 10px;
}

.search-bar{
  display: flex;
  flex-direction: row;
  background-color: #555;
  margin-right: 20px;
  border-radius: 63px;
  box-shadow: 0px 3px 3px 0px black;
}

.search-bar-input {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.search-bar-input::placeholder {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 800;
  font-size: 16px;
  color: #fff;
}

.search-bar-button {
    background: #ddd;
    border: none;
    border-radius: 0px 20px 20px 0px;
    width: 20%;
    height: 100%;
}


.header-buttons {
  border-radius: 54px;
  margin-right: 20px;
  background-color: #555;
  border: none;
  box-shadow: 0px 3px 3px 0px black;
  width: 4%;
  color: white;
}

.ad-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ad-container img{
  width: 48vw;
  height: auto;
}

.ad-text{
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 0;
}

.highlights-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.highlight-item img {
  width: 16vw;
  height: auto;
  border: 3px solid #4b4040;
}

.highlights-text {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  text-align: left;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 20px;
}


.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.down-arrow svg {
  stroke-width: 10px;
  stroke: #fff;
}

footer {
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-left, .footer-right,  .footer-qr, .contact-info{
  width: 25%;
  margin-left: 40px;
  margin-right: 40px;
}

  .footer-left img {
    width: 20%;
  }

  .footer-left p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #858585;
  }

  .footer-qr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qr-container {
    display: flex;
    gap: 15px;
  }

  .qr-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .svg-container {
    margin-bottom: 10px;
  }

  .qr-box svg {
    display: block;
  }

  .qr-box img {
    width: 120px;
    height: 120px;
  }

  .footer-right {
    text-align: right;
  }

  .footer-right p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #806a6a;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-info a, .contact-info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    color: #000;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }

  .contact-info div {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .contact-info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
